.wrapper {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Heading {
        color: rgba(233, 129, 10, 0.815);
        font-size: 2rem;

        &Primary {
            color: rgb(182, 58, 0);
        }
    }

    &Input {
        width: 280px;

        &Item {
            border: none;
            border-bottom: 2px solid rgb(182, 58, 0);
            font-size: 1rem;
            padding: 5px;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}
